<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nail Heaven Collection</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  
  <section id="home" class="hero">
        <div class="hero-content">
            <h1>Welcome to Nail Heaven</h1>
            <h2>your nails, your style</h2>
            <p>Your destination for beautiful, professional nail care</p>
            <button class="cta-button">Book an Appointment</button>
        </div>
    </section>
 <button type="submit">Back to Home</button>
  <header class="header">
    <div class="head-content">
    <h1>Nail Heaven – New Arrivals</h1>
    </div>
  </header>

  <section class="product-gallery">
    
    <div class="gallery-grid">
        <div class="product-card">
      <img src="/static/img/nail1.jpg" alt="Brown Glow Soft Gel Nails" height="200" width="200">
      <h3>Brown Glow Soft Gel Nails</h3>
      <p class="price">Rs. 1,299.00</p>
      <button class="buy-button">Add to Card</button>
    </div>  
    

    <div class="product-card">
      <img src="/static/img/nail2.jpg" alt="Bruna Mini Nail Bar" height="200" width="200">
      <h3>Bruna Mini Nail Bar</h3>
      <p class="price">Rs. 599.00</p>
      <button class="buy-button">Add to Card</button>
    </div>

    <div class="product-card">
      <img src="/static/img/nail3.jpg" alt="Twinkle Tips Mini Nail Bar" height="200" width="200">
      <h3>Twinkle Tips Mini Nail Bar</h3>
      <p class="price">Rs. 599.00</p>
      <button class="buy-button">Add to Card</button>
    </div>

    <div class="product-card">
      <img src="/static/img/nail4.jpg" alt="Mirror Kiss Lux Nail Bar" height="200" width="200">
      <h3>Mirror Kiss Lux Nail Bar</h3>
      <p class="price">Rs. 699.00</p>
      <button class="buy-button">Add to Card</button>
    </div>

    <div class="product-card">
      <img src="/static/img/nail5.jpg" alt="Rose Blush Gel Nails" height="200" width="200">
      <h3>Rose Blush Gel Nails</h3>
      <p class="price">Rs. 799.00</p>
      <button class="buy-button">Add to Card</button>
    </div>

    <div class="product-card">
      <img src="/static/img/nail6.jpg" alt="Pink Aura Nails" height="200" width="200">
      <h3>Pink Aura Nails</h3>
      <p class="price">Rs. 899.00</p>
      <button class="buy-button">Add to Card</button>
    </div>
    </div>
  </section>

  <footer class="footer">
    <p>&copy; 2026 Nail Heaven Studio. All rights reserved.</p>
  </footer>
</body>
</html>