<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register</a></p>
    </div>
    <a style="text-decoration:none; color: rgb(25, 0, 255);" href="/">home</a>

</body>
</html>