<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <!-- NAVBAR -->
    <nav class="bg-white shadow-md">
      <div
        class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center"
      >
        <h1 class="text-2xl font-bold text-blue-600">MyWebsite</h1>
        <ul class="flex space-x-6 text-lg font-medium">
          <li><a href="/adminapp/" class="hover:text-blue-600">Admin</a></li>
          <li><a href="/" class="hover:text-blue-600">Home</a></li>
          <li><a href="/about" class="hover:text-blue-600">About</a></li>
          <li><a href="/notes" class="hover:text-blue-600">Notes</a></li>
          <li><a href="/contact" class="hover:text-blue-600">Contact</a></li>
          <li><a href="/profile" class="hover:text-blue-600">Profile</a></li>
          
          {% if request.session.email %}
          <li><a href="/userlogout" class="hover:text-red-600">Logout</a></li>
          <li>
          <a
            href="{% url 'cart' %}"
            class="flex-1 px-4 py-2 border border-gray-300 rounded-lg hover:shadow-sm transition"
          >
            🛒
          </a>
          </li>
          <p style="color: rgb(0, 0, 0);">
           {{ request.session.fullname }}
          </p>

          {% else %}
          <li><a href="/login" class="hover:text-blue-600">Login</a></li>
          <li><a href="/signup" class="hover:text-blue-600">Signup</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="py-10">{% block content %} {% endblock %}</div>
  </body>
</html>