{% extends "base.html" %}

{% block title %}Manage Profile{% endblock %}

{% block content %}
<div class="max-w-lg mx-auto bg-white p-6 rounded shadow">
    <h2 class="text-2xl font-bold mb-5 text-center">Manage Profile</h2>

    <form class="space-y-4">
        <input type="text" value="{{user.Fullname}}" placeholder="Full Name" class="w-full border p-2 rounded">
        <input type="email" value="{{user.email}}" placeholder="Email" class="w-full border p-2 rounded">
        <input type="text" value="{{user.password}}" placeholder="Password" class="w-full border p-2 rounded">
        <input type="text" value="{{user.mobile}}" placeholder="Mobile" class="w-full border p-2 rounded">

        <button class="w-full bg-blue-600 text-white py-2 rounded">Update Profile</button>
    </form>
</div>
{% endblock %}  