<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

    <!-- Navbar -->
    <nav class="bg-gray-800 p-4 text-white">
        <h1 class="text-xl font-bold">Student Login</h1>
    </nav>

    <!-- Login Card -->
    <div class="max-w-md mx-auto mt-12 mb-24 bg-white shadow-lg p-8 rounded-lg">

        <h2 class="text-center text-2xl font-bold mb-6">Login</h2>

        <form method="POST">
            {% csrf_token %}
            <!-- Email -->
            <label class="font-medium">Email</label>
            <input type="email" name="email" required
                   class="w-full p-2 border rounded mb-5">

            <!-- Password -->
            <label class="font-medium">Password</label>
            <input type="password" name="password" required
                   class="w-full p-2 border rounded mb-6">

            <!-- Course -->
            <label class="font-medium">Rolw</label>
            <select name="role" required
                    class="w-full p-2 border rounded mb-5">
                <option value="">Select Role</option>
                <option value="Student">Student</option>
                <option value="Faculty">Faculty</option>
                <option value="Branch">Branch</option>
                
            </select>       


            <!-- Login Button -->
            <button type="submit"
                    class="w-full bg-gray-800 text-white py-2 rounded hover:bg-gray-700">
                Login
            </button>

        </form>

        <!-- Register Link -->
        <p class="text-center mt-4">
            Don't have an account?
            <a href="/register" class="text-blue-600 hover:underline">Register</a>
        </p>

    </div>

   <footer class="bg-black text-white py-10">
    <div class="max-w-7xl mx-auto px-4 grid md:grid-cols-3 gap-8">

        <div>
            <h3 class="text-xl font-semibold mb-3">MyCollege</h3>
            <p class="text-gray-300">A place to learn, grow and build your digital skills.</p>
        </div>

        <div>
            <h3 class="text-xl font-semibold mb-3">Quick Links</h3>
            <ul class="space-y-2 text-gray-300">
                <li>Home</li>
                <li>Profile</li>
                <li>Notes</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </div>

        <div>
            <h3 class="text-xl font-semibold mb-3">Contact Info</h3>
            <p>Email: rutvimandaliya19@gmail.com</p>
            <p>Phone: +91 9429190565</p>
        </div>

    </div>

    <p class="text-center text-gray-400 mt-8">
        © 2026 MYCOLLEGE. All rights reserved.
    </p>
</footer>
</body>
</html>
