<html>
    <head>
        <title>Nail Art</title>
    </head>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
       <script src="appname/static/js"></script>
       <header style="text-align: center; color:brown;font-size: xx-large; font-style: italic;">Nail Heaven</header>
    <body>
        <!--h1 tag-->
        <div class="container">
            <p style="background-color: blanchedalmond; color: brown; font-size: medium;">
        Your one-stop destination for stunning nail designs and art inspiration.
        Explore our gallery, tutorials, and tips to elevate your nail game!
    </p>
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <h6 style="margin: 0; font-size:x-large;color:brown; font-style: oblique;">Welcome to Nail Heaven</h6>
        
        <form class="d-flex" role="search" style="margin-left: 10px;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info" type="submit">Search</button>
        </form>
    </div>
    </div>
    <!--h1 tag end-->
        
    <!--navbar start-->
    <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/" style="font-style: italic; color:brown;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Gallery" style="font-style: italic; color:brown;">Gallery</a>
            
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-style: italic; color:brown;">
              Designs
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/designs" style="font-style: italic; color:brown;">Classic Nails</a></li>
              <li><a class="dropdown-item" href="/modernart" style="font-style: italic; color:brown;">Modern Art</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/Custom" style="font-style: italic; color:brown;">Custom Styles</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-style:italic; color: brown;">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

        <!--navbar end-->

        <!--image-->
        <div class="container my-2">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
            <img src="{% static 'img/nail1.jpg' %}" height="700" width="500" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'img/nail2.jpg' %}" height="700" width="500" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
            <img src="{% static 'img/nail3.jpg' %}" height="700" width="900" class="d-block w-100" alt="...">
            </div>
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
    </div>
        <!--image end-->

        

        <footer style="text-align: center; color:brown; font-size: x-large; background-color: bisque; height: 45px; width: 1545px;">@nail_heaven</footer>
   
    </body>     
</html>