<!DOCTYPE html>
<html>
<head>
    <title>Patient Registration</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<h2 class="heading">Patient Registration</h2>

<form id="patientForm" method="POST" onsubmit="return validateForm()">
    {% csrf_token %}
    <input type="text" id="name" name="name" placeholder="Full Name"><br>
    <input type="number" id="age" name="age" placeholder="Age"><br>
    <input type="email" id="email" name="email" placeholder="Email"><br>
    <input type="tel" id="phone" name="phone" placeholder="Phone Number"><br>
    <button type="submit" class="btn">Submit</button>
</form>

<a href="/doctor_list" class="btn">doctor info</a>

<script src="/static/js/script.js"></script>
</body>
</html>
