<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Student List</h2>
<a href="/create/">Add Student</a>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
        <th>Actions</th>
    </tr>

    {% for s in students %}
    <tr>
        <td>{{ s.name }}</td>
        <td>{{ s.age }}</td>
        <td>{{ s.city }}</td>
        <td>
            <a href="/update/{{ s.id }}/">Edit</a>
            <a href="/delete/{{ s.id }}/">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>